.cabecalho{
    background-color:#FF0000 ;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
  width: 20%;
}

.cabecalho-item-lista{
  display: inline-block;
  margin: 0 16px;
  padding: 24px 0;
  font-size: 24px;
}

cor do texto em verde: 0CB91D
