  .cabecalho{
    background-color:#FF0000 ;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
}

.cabecalho-imagem{
  width: 20%;
}

.cabecalho-lista-item{
  display: inline-block;
  margin: 0 16px;
  padding: 10px 0;
  font-size: 20px;
}

* {
margin: 0;
padding: 0;
}

.whey-imagem{
  width:10%;
  padding: 0 24px;
  
}

.power{
  background-image: linear-gradient(#FF0000, #000000) ;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.power-conteudo{
  width: 50%;
}

.power-titulo{
  padding: 24px 0;
}

.power-titulo-dois{
  padding: 14px 0;
}

.equipe-imagem{
  width: 100px;
}

.equipe-icone{
  width: 24px;
}

.equipe-div{
  text-align: center;
}

.equipe-titulo{
  text-align: center;
  padding: 45px 0;
}

.equipe-todos{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  padding: 30px 0;
}

footer{
  background-color: #FF0000;
  padding: 2px;
  text-align: center;
}

.pwslogo-footer{
  width: 175px; 
}

.nossa-equipe{
  background-color: #D9D9D9;
}